.small ng-bind="ctrl.group.created_at | date:'dd.MM.yyyy'"

a.btn.btn-primary ui-sref="edit_group_path(ctrl.group)" Edit
|&nbsp;
a.btn.btn-danger ng-click="ctrl.destroy(ctrl.group)" Destroy

h1 ng-bind="ctrl.group.name"

h2 ng-bind="ctrl.group.full_path"