<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @entry_info.group.full_path %>
</p>

<%= link_to 'Edit', edit_entry_info_path(@entry_info) %> |
<%= link_to 'Back', entry_infos_path %>
